:root {
  --icon-size-default: 20px;
}

.icon {
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  height: var(--icon-size-default);
  width: var(--icon-size-default);
}

.icon.ic-color-white {
  background-color: white;
}

.icon.ic-color-gray {
  background-color: gray;
}

.icon.ic-color-biruza{
	width: 25px;
	height: 25px;
	background-color: #008294;
}

.icon.ic-search {
  mask: url(../IMG/search-icon.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.ic-calendar {
  mask: url(../IMG/icon-calendar.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.ic-check {
  mask: url(../IMG/icon-check.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.ic-ticket {
  mask: url(../IMG/icon-ticket.svg);
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.icon.ic-plus {
	mask: url(../IMG/plus-icon-blue.svg);
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
  }
