footer {
	background-color: #212121;
	color: #fff;
	padding: 40px 196px;
	text-align: center;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 40px;
  }
  
  .footer-create-group {
	display: flex;
	gap: 30px;
	justify-content: left;
	align-items: center;
	text-align: left;
	margin-bottom: 20px;
  
	p {
	  font-size: 16px;
	  font-weight: 600;
	}
  
	button {
	  padding: 10px 14px;
	  font-size: 16px;
	  font-weight: 600;
	  background-color: #212121;
	  color: #fff;
	  border: 2px solid #fff;
	  border-radius: 5px;
	  cursor: pointer;
  
	  &:hover {
		background-color: #fff;
		color: #212121;
	  }
	}
  }
  
  .gray-line {
	border-top: 2px solid #707070;
	width: 100%;
  }
  
  .footer-links {
	flex: 1;
	text-align: left;
  
	h3 {
	  font-size: 16px;
	  font-weight: 400;
	  color: #f6f7f8;
	  margin-bottom: 7px;
	}
  
	ul {
	  list-style-type: none;
	  padding: 0;
  
	  li {
		margin-bottom: 7px;
	  }
	}
  
	a {
	  color: #c5c4c4;
	  font-size: 14px;
	  font-weight: 400;
	  text-decoration: none;
  
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  
  .footer-social {
	display: flex;
	justify-content: space-between;
	flex: 1;
	text-align: center;
	min-width: 250px;
	margin-top: 20px;
  
	.social-icons {
	  text-align: left;
	  font-size: 16px;
	  font-weight: 400;
	  margin-bottom: 20px;
  
	  img {
		margin: 12px 32px 24px 0;
		text-decoration: none;
	  }
	}
  }
  
  .footer-links-group {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
  }
  
  .footer-policy {
	font-size: 14px;
	color: #c5c4c4;
  
	ul {
	  list-style-type: none;
	  padding: 0;
	  margin-bottom: 20px;
  
	  li {
		display: inline-block;
		margin: 0 10px;
	  }
	}
  }
  
  .footer-apps img {
	text-align: center;
	margin-top: 25px;
  }
  
  .copyright {
	display: flex;
  }
  
  .footer-bottom p {
	font-size: 14px;
  }
  
  @media (max-width: 700px) {
	footer {
	  padding: 10px;
	}
  
	.footer-social {
	  flex-wrap: wrap;
	}
  
	.footer-app {
	  display: none !important;
	}
  
	.join-meetup-image {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: 100%;
	}
  }
  